.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(9, 9, 27);
}

.main {
    color: white;
    z-index: 2;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.content {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.img-container {
    transform-style: preserve-3d;
    animation: rotate 35s linear infinite;
    margin-top: 70px;
}

@keyframes rotate {
    from {
        transform: perspective(2400px) rotateY(0deg);
    }
    to {
        transform: perspective(2400px) rotateY(360deg);
    }
}

.img {
    position: absolute;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 42.76deg)) translateZ(500px);
    height: 250px;
}

img {
    position: absolute;
    height: 100%;
}

.img-title {
    position: relative;
    font-size: 12px;
    text-align: center;
    bottom: 0;
    color: white;
    background-color: black;
    margin-top: 230px;
    width: fit-content;
    padding: 2px;
}

img:hover {
    cursor: pointer;
}

.fire-text {
    background: linear-gradient(45deg, #ff4b1f, #ff416c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
    font-weight: 700;
}

#timer {
    background: linear-gradient(45deg, #ff4b1f, #ff416c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9em;
    font-weight: 500;
}

#d,
#h,
#m,
#s {
    color: #ff4b1f;
}
